# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SpookersGGJ.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Loki\Documents\SpookersGGJ2021\SpookersGGJ\.idea\.idea.SpookersGGJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
